<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <h1>Результат (таблица)</h1>
    <table>
        <tr>
            <th>Навык</th>
            <th>Количество</th>
            <th>Процент</th>
        </tr>
        <tr>
            <td>1 навык</td>
            <td>2</td>
            <td>50%</td>
        </tr>
        <tr>
            <td>2 навык</td>
            <td>1</td>
            <td>25%</td>
        </tr>
        <tr>
            <td>3 навык</td>
            <td>1</td>
            <td>25%</td>
        </tr>
    </table>
    <br>
    <div class="button-container">
        <a href="input.html" class="button">Ввод параметров</a>
        <a href="main.html" class="button">На главную</a>
    </div>
</body>
</html>