<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/main.css"> <!-- Подключение CSS-файла -->
</head>
<body>
    <h1>Поиск Вакансий</h1>
    <p class="proverb">Этот сайт поможет вам провести анализ вакансий <br> по ключивым навыкам</p>
    <a href='/input/' class="button">Начать анализ</a>
    <a href='/contact/' class="button">Контакты</a>
</body>
</html>
